{{ header }}{{ column_left }}{{ column_right }}
<div class="container">{{ content_top }}
  <div style="text-align:center;">
  </br></br></br>
		<h1><strong>{{ payment_code }}</strong></h1>
		<h1><strong>{{ channel_name }}</strong></h1>	
    <h3>Your Transaction is Waiting for your Payment</h3>
    <p>{{ return_message }}</p>
		<div class="buttons">
			<div class="right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</br></br></br>
		</div>		
  </div>
  {{ content_bottom }}
</div>
	
{{ footer }}